* {
    margin: 0;
}
.login-background{
    background-color: #0077b6;
}
.main-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.left-login{
    background-color: white;
    height: 400px;
    width: 400px;
    padding: 25px 25px 25px 50px;
    border-radius: 25px 0 0 25px;
    
}
.right-login{
    background-color: #8ecae6;
    height: 450px;
    width: 400px;
    border-radius: 0 25px 25px 0;
}
.login-content{
    margin: 50px 10px 10px 25px;
}
.login-content p, input, button {
    font-size: 15px;
    border-radius: 25px;
    margin: 2px 0 3px 21px;
}
.login-content button, input{
    width: 300px;
    padding: 10px;
}
.right-login #Forgot, #Register{
    font-size: 15px;
    margin: 1px 0 0 45px ;

}
.login-content button{
    width: 321px;
    color: white;
    background-color: #023047;
    border: none;
    border-radius: 5px;
}
.login-content input{
    text-align: center;
}
.container {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.main-head{
    background-color: brown;
    display: flex;
    flex: 1 1 80%;
    height: 20%;
}
.side-nav{ 
    background-color: blue;
    display: flex;
    flex: 1 1 20%;
    width: 10%;
    
}